<div style="padding: 20px; padding-bottom: 50px;">
      <h2>Contact Manager</h2>
      
      <div style="margin-bottom: 20px; display: flex; gap: 10px;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Name</mat-label>
          <input matInput #inputName [(ngModel)]="newName" placeholder="Ex: John Doe">
        </mat-form-field>
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Data</mat-label>
          <input matInput #inputData [(ngModel)]="newData" placeholder="Ex: +351 910 233 705">
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="add()">
          <mat-icon>add</mat-icon> Add
        </button>
      </div>

      <table mat-table [dataSource]="contacts" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="instant">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> 
            {{ element.instant | date: 'dd/MM/yyyy HH:mm' }} 
          </td>
        </ng-container>

        <ng-container matColumnDef="data">
          <th mat-header-cell *matHeaderCellDef> Data </th>
          <td mat-cell *matCellDef="let element"> {{element.data}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="delete(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="gridColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: gridColumns;"></tr>
      </table>
</div>