<div style="padding: 20px; padding-bottom: 50px;">

    <div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
        <div mat-card-avatar class="login-header-image">
            <mat-icon color="primary">lock</mat-icon>
        </div>
        <mat-card-title>Welcome</mat-card-title>
        <mat-card-subtitle>Access your Safe Data</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
        <form class="login-form">
            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]="newUsername" name="username" placeholder="Type your username" required>
            <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput [type]="newPassword ? 'password' : 'text'" [(ngModel)]="newPassword" name="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword(!newPassword)" [attr.aria-label]="'Hide password'">
                <mat-icon>{{newPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>
        </form>
        </mat-card-content>

        <mat-card-actions align="end">    
        <button mat-raised-button color="primary" (click)="login()" [disabled]="!newUsername || !newUsername">
            Login
        </button>
        </mat-card-actions>
    </mat-card>
    </div>
</div>

<!--
<div style="padding: 20px; padding-bottom: 50px;">
      <h2>Login</h2>
      
      <div style="margin-bottom: 20px; display: flex; gap: 10px;">
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Username</mat-label>
          <input matInput #inputUsername [(ngModel)]="newUsername" placeholder="Ex: John Doe">
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline" style="flex: 1;">
          <mat-label>Password</mat-label>
          <input matInput #inputData [(ngModel)]="newPassword" placeholder="Ex: https://www.johndoe.com.br, john.doe@johndoe.com">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" (click)="login()">
          <mat-icon>add</mat-icon> Add
        </button>
      </div>
</div>      
-->