.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa a tela toda */
  background: #f5f5f5; /* Um cinza bem claro para dar contraste ao card branco */
}

.login-card {
  width: 400px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1) !important;
  border-radius: 8px;
}

.login-header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8eaf6;
  border-radius: 50%;
}

.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

mat-card-title {
  font-weight: bold;
  color: #3f51b5;
}